body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
  background: url(../img/263cb030-fa6f-4431-b9a8-f20faa7a5f28.webp) no-repeat
    center;
  background-size: cover;
}

.register-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #009970;
}

.form-control {
  position: relative;
  padding: 10px 40px;
}

.form-control i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.register-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #218838;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #009970;
}
